#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: "samuel",
    cache_dir: None,
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 3,
    wrap_navigation: false,
    enable_mouse: true,
    scroll_amount: 1,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: false,
    status_update_interval_ms: 500,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    ignore_leading_the: true,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    album_art: (
        method: Auto,
        order: FileFirst,
        max_size_px: (width: 2400, height: 2400),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        clear: true,
        global: {
            "<C-?>":        ShowHelp,
            "<C-:>":        CommandMode,
            "<C-o>I":       ShowCurrentSongInfo,
            "<C-o>o":       ShowOutputs,
            "<C-o>p":       ShowDecoders,
            "<C-o>d":       ShowDownloads,
            "<C-o>P":       Partition(),
            "<C-z>":        ToggleRepeat,
            "<C-x>":        ToggleRandom,
            "<C-c>":        ToggleConsume,
            "<C-v>":        ToggleSingle,
            "<C-p>":        TogglePause,
            "<A-e>":        NextTrack,
            "<A-q>":        PreviousTrack,
            "<C-A-d>":      SeekForward,
            "<C-A-a>":      SeekBack,
            "<C-.>":        VolumeUp,
            "<C-,>":        VolumeDown,
            "<Tab>":        NextTab,
            "<A-Tab>":      NextTab,
            "<S-Tab>":      PreviousTab,
            "<A-S-Tab>":    PreviousTab,
            "<A-`>":        SwitchToTab("[Queue]"),
            "<A-1>":        SwitchToTab("[Artists]"),
            "<A-2>":        SwitchToTab("[Albums]"),
            "<A-3>":        SwitchToTab("[Genres]"),
            "<A-4>":        SwitchToTab("[Groups]"),
            "<A-5>":        SwitchToTab("[Lists]"),
            "<A-6>":        SwitchToTab("[Search]"),
            "<C-u>":        Update,
            "<C-U>":        Rescan,
            "<C-R>":        AddRandom,
            "<C-g>":        ExternalCommand(command: ["alacritty", "-t", "Alacritty Float", "-e", "/var/home/samuel/.local/bin/rmpc-fzf-newest.sh"]),
            "<C-f>":        ExternalCommand(command: ["alacritty", "-t", "Alacritty Float", "-e", "/var/home/samuel/.local/bin/rmpc-fzf-artist-album.sh"]),
            "<C-h>":        ExternalCommand(command: ["alacritty", "-t", "Alacritty Float", "-e", "/var/home/samuel/.local/bin/rmpc-fzf-artist-album.sh"]),
            "<C-P>":        ExternalCommand(command: ["/var/home/samuel/.local/bin/rmpc-copy-album-path.sh"]),
        },
        navigation: {
            "<Esc>":      Close,
            "<CR>":       Confirm,
            "<Up>":       Up,
            "<A-w>":      Up,
            "<Down>":     Down,
            "<A-s>":      Down,
            "<Left>":     Left,
            "<A-a>":      Left,
            "<Right>":    Right,
            "<A-d>":      Right,
            "<C-w>k":     PaneUp,
            "<C-Up>":     PaneUp,
            "<C-w>j":     PaneDown,
            "<C-Down>":   PaneDown,
            "<C-w>h":     PaneLeft,
            "<C-Left>":   PaneLeft,
            "<C-w>l":     PaneRight,
            "<C-Right>":  PaneRight,
            "K":          MoveUp,
            "J":          MoveDown,
            "<A-W>":      UpHalf,
            "<A-S>":      DownHalf,
            "<C-b>":      PageUp,
            "<PageUp>":   PageUp,
            "<PageDown>": PageDown,
            "gg":         Top,
            "G":          Bottom,
            "<Space>":    Select,
            "<C-Space>":  InvertSelection,
            "/":          EnterSearch,
            "<C-A-s>":    NextResult,
            "<C-A-w>":    PreviousResult,
            "<C-a>":      Add,
            "<C-A>":      AddAll,
            "<C-Delete>": Delete,
            "<C-r>":      Rename,
            "i":          FocusInput,
            "<C-i>":      ShowInfo,
            "<C-]>":      ContextMenu(),
            "<C-s>s":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "<C-s>a":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "r":          Rate(),
            "<C-;>":      Rate(kind: Like()),
            "<C-'>":      Rate(kind: Neutral()),
        },
        queue: {
            "<C-q>":      Delete,
            "<C-Q>":      DeleteAll,
            "<CR>":       Play,
            "C":          JumpToCurrent,
            "<A-z>":      JumpToCurrent,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
            (value: "grouping",    label: "Grouping"),
            (value: "date",        label: "Date"),
            (value: "modified",    label: "Modified"),
        ],
    ),
    artists: (
        album_display_mode: NameOnly,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),
    browser_album_format: NameOnly,
    tabs: [
        (
            name: "[Queue]",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "31%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "100%",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Pane(AlbumArt)
                                ),
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "11",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Component("song_info_and_controls")
                                ),
                            ]
                        )
                    ),
                    (size: "1", pane: Pane(Empty())),
                    (
                        size: "69%",
                        borders: "ALL",
                        border_symbols: Thick,
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "1",
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (
                                                size: "1",
                                                pane: Pane(Empty())
                                            ),
                                            (
                                                size: "100%",
                                                pane: Pane(QueueHeader())
                                            ),
                                        ]
                                    )
                                ),
                                (
                                    size: "1",
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (
                                                size: "1",
                                                pane: Pane(Empty())
                                            ),
                                            (
                                                size: "100%",
                                                borders: "TOP",
                                                border_symbols: Plain,
                                                pane: Pane(Empty())
                                            ),
                                            (
                                                size: "2",
                                                pane: Pane(Empty())
                                            ),
                                        ]
                                    )
                                ),
                                (
                                    size: "100%",
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (
                                                size: "1",
                                                pane: Pane(Empty())
                                            ),
                                            (
                                                size: "100%",
                                                pane: Pane(Queue)
                                            ),
                                        ]
                                    )
                                ),
                            ],
                        )
                    ),
                ],
            ),
        ),
        (
            name: "[Artists]",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "31%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "100%",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Pane(AlbumArt)
                                ),
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "11",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Component("song_info_and_controls")
                                ),
                            ]
                        )
                    ),
                    (size: "1", pane: Pane(Empty())),
                    (
                        size: "69%",
                        borders: "ALL",
                        border_symbols: Thick,
                        pane: Pane(Artists)
                    ),
                ],
            )
        ),
        (
            name: "[Albums]",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "31%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "100%",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Pane(AlbumArt)
                                ),
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "11",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Component("song_info_and_controls")
                                ),
                            ]
                        )
                    ),
                    (size: "1", pane: Pane(Empty())),
                    (
                        size: "69%",
                        borders: "ALL",
                        border_symbols: Thick,
                        pane: Pane(Albums)
                    ),
                ],
            )
        ),
        (
            name: "[Genres]",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "31%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "100%",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Pane(AlbumArt)
                                ),
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "11",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Component("song_info_and_controls")
                                ),
                            ]
                        )
                    ),
                    (size: "1", pane: Pane(Empty())),
                    (
                        size: "69%",
                        borders: "ALL",
                        border_symbols: Thick,
                        pane: Pane(Browser(root_tag: "genre"))
                    ),
                ],
            )
        ),
        (
            name: "[Groups]",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "31%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "100%",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Pane(AlbumArt)
                                ),
                                (size: "0", pane: Pane(Empty())),
                                (
                                    size: "11",
                                    borders: "ALL",
                                    border_symbols: Thick,
                                    pane: Component("song_info_and_controls")
                                ),
                            ]
                        )
                    ),
                    (size: "1", pane: Pane(Empty())),
                    (
                        size: "69%",
                        borders: "ALL",
                        border_symbols: Thick,
                        pane: Pane(Browser(root_tag: "grouping"))
                    ),
                ],
            )
        ),
        (
            name: "[Lists]",
            borders: "ALL",
            border_symbols: Thick,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Playlists), size: "100%", borders: "ALL", border_symbols: Thick)],
            )
        ),
        (
            name: "[Search]",
            borders: "ALL",
            border_symbols: Thick,
            pane: Split(
                size: "100%",
                direction: Vertical,
                panes: [(pane: Pane(Search), size: "100%", borders: "ALL", border_symbols: Thick)],
            )
        ),
    ],
)
