[Desktop Entry]
Version=1.0
Type=Application
Name=rmpc
GenericName=Music Player
Comment=MPD client
Exec=kitty --class rmpc --title rmpc -e rmpc
Icon=quodlibet
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;
