[Desktop Entry]
Version=1.0
Type=Application
Name=rmpc
GenericName=Music Player
Comment=Terminal-based MPD client with album art support
Exec=kitty --class rmpc --title rmpc -e rmpc
Icon=/usr/share/icons/Papirus/48x48/apps/quodlibet.svg
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;
