[Desktop Entry]
Name=Start-up Apps
Comment=Launch Zen Personal, Zen Utility, rmpc, and Ghostty
Exec=bash -c '$HOME/.local/bin/launch_apps.sh'
Icon=/usr/share/icons/Papirus/48x48/apps/utilities-terminal.svg
Terminal=false
Type=Application
Categories=Utility;
