[Desktop Entry]
Name=swaylock
Exec=swaylock
Icon=/usr/share/icons/Papirus/32x32/apps/system-lock-screen.svg
Type=Application
Categories=System;
Terminal=false
Comment=Lock the screen
