[Desktop Entry]
Name=Virtual Machine Manager
GenericName=Virtualization Manager
Comment=Manage and view virtual machines (QEMU, KVM, etc.)
Icon=virt-manager
Exec=virt-manager
Type=Application
Terminal=false
Categories=System;Emulator;GTK;
Keywords=virtualization;libvirt;vm;vmm;qemu;xen;lxc;kvm;
