[metadata]
name = "Apps"
description = "Application launcher"

[ui]
ui_scale = 80

[ui.preview_panel]
hidden = true

[source]
command = "{{ .chezmoi.homeDir }}/.local/bin/tv-list-apps.py"
display = "{split:;:0}"

[preview]
command = "echo 'Launch: {}'"

[keybindings]
enter = "actions:app-launch"

[actions.app-launch]
description = "Launch application"
command = "niri msg action spawn -- gio launch '{split:;:1}'"
mode = "execute"
