[metadata]
name = "Apps"
description = "Application launcher"

[ui]
ui_scale = 80

[ui.preview_panel]
size = 50
border_type = "thick"
padding = { left = 2, right = 0, top = 1, bottom = 0 }
word_wrap = false
hidden = false

[source]
command = "{{ .chezmoi.homeDir }}/.local/bin/tv-list-apps.py"
display = "{split:;:0}"

[preview]
command = "{{ .chezmoi.homeDir }}/.local/bin/tv-preview-app.py '{}'"

[keybindings]
enter = "actions:app-launch"

[actions.app-launch]
description = "Launch application"
command = "niri msg action spawn -- gio launch '{split:;:1}'"
mode = "execute"
